
<form onsubmit={{action "submit"}}>
  <label>what are you selling?</label>
  {{ input type="text" value=title }}

  <label>how much are you selling for?</label>
  {{ input type="text" value=price }}

  <label>item description</label>
  {{ input type="text" value=description }}

  <label>select an image to upload:</label>
  {{ input type="file" value=image }}

  <h2>contact info</h2>
  name: {{ input type="text" value=sellername }}
  phone #: {{ input type="text" value=phonenumber }}
  <button type="submit">submit</button>
</form>

{{outlet}}
