<div class="feed">
  {{#each model as |listing|}}
  <div class="listing">
    <div class="listing-image">
      <img src="http://localhost:3000/uploads/{{listing.image}}" />
    </div>
    <div class="listing-info">
      {{#link-to 'home.listing' listing.id}}
        <h2>{{listing.title}} - ${{listing.price}}</h2>
      {{/link-to}}
      <p class="description">{{listing.description}}</p>
      {{!-- <p class="distance">0.6m</p> --}}
    </div>
  </div>
  {{else}}
  <h2 class="error">no listings found D:</h2>
  {{/each}}
</div>
{{outlet}}
